@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.website {
  font-family: "Rubik", serif;
  color: rgb(108, 108, 108);
  display: flex;
  align-items: center;
  justify-content:start;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-image: url("../media/babylonn.jpg");
  background-size: cover;
  background-position: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  background-color: rgb(78, 90, 135);
  text-align: center;
  width:100%;
  margin:0;
  margin-bottom: clamp(20px, 30px, 40px);
  position: static;
}

.navBar .banner {
  color:#ffffff;
  font-size: clamp(20px, 5vw, 24px);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.navBar .banner:hover {
  color:#333;
}

.navBar .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navBar .navBarButton {
  color:#ffffff;
}

.navBar .navBarButton:hover {
  color:#333;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3%;
  border-radius: 17px;
  min-height: 65vh;
  min-width: 20vw;
}

@media (max-width: 1025px) {
  .content {
    border-radius: 15px;
    padding: 20px;
  }
}

.logIn, .signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
}

.logInForm, .signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  text-align: center;
}


.logInForm button, .signUpForm button {
  margin-top: 20px;
  background-color: rgb(78, 90, 135);
  color:#ffffff
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:flex-start;
  width: 55vw;
}

.contactList {
  display: flex;
  align-items: flex-start;
}

.contactCard, .addNewContactCard {
  width: 15vw;
  height: 20vh;
}

@media (max-width: 1500px) {
  .signUp, .logIn {
    width: 25vw
  }

  .contacts {
    width: 70vw;
  }

  .contactCard, .addNewContactCard {
    width: 20vw;
    height: 25vh;
  }
  
}

@media (max-width: 1025px) {
  .signUp, .logIn {
    width: 40vw
  }

  .contacts {
    width: 80vw;
  }

  .contactCard, .addNewContactCard {
    width: 35vw;
    height: 20vh;
  }

}

@media (max-width: 767px) {
  .signUp, .logIn {
    width: 75vw
  }
  .contacts {
    width: 80vw;
  }

  .contactCard, .addNewContactCard {
    width: 65vw;
    height: 22vh;
  }
  
}

.contacts .search {
  width: 100%;
}

.contacts .contactList {
  margin: 20px;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1025px) {
  .contacts .contactList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .contacts .contactList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.newContact {
  width: 100%;
  height: 100%;
  font-size: x-large;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(78, 90, 135);
}

.contactCard, .addNewContactCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  transition: border-style 0.1s ease;
  text-align: center;
}

.contactCard:hover {
  color:#333;
}

.contactCard:hover .name {
  font-weight: bold;
}

.newContact:hover {
  background-color: rgb(67, 77, 114);
  font-size: xx-large;
}

.contactCard .name {
  text-transform: uppercase;
  font-size: larger;
}

.contactCard .buttonRow {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  gap: 10px;
}

.contactCard:hover .buttonRow {
  visibility: visible;
}

.contactCard .buttonRow .removeButton, .updateButton {
  transition: background-color 0.3s ease;
  border-radius: 5px;
}


.contactCard .buttonRow .removeButton:hover {
  background-color: #e35d5d;
  color: #ffffff;
}

.addOrUpdateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.addOrUpdateBox h3 {
  font-weight: 400;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
}

.contactForm button {
  margin-top: 20px;
  background-color: rgb(78, 90, 135);
  color: #ffffff;
  width: 95%;
}

.footer {
  font-size: clamp(12px, 1vw, 15px);
  padding-top: 10px;
  text-align: center;
  margin: 20px;
}
